body{
background-color: rgb(241, 255, 255);
font-size: 14px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
a {
    color: rgb(255, 0, 0);
}

a:hover {
    color: rgb(0, 0, 255);

}



p{



}

article{
flex:1;
}

article:nth-of-type(2) {
flex:2;

}



section{
    display: flex;
    flex-direction: column;
}

img {
    border: 1px solid rgb(255, 0, 0);
    border-width: 250px;
    border-color: rgb(255, 0, 0);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    opacity: 0.5;
    
}


figure{



}


.warning{


}

#note{



}